export(sts)
export(esthcpp)
export(estimateRegnTables)
export(lgaecpp)
export(lpbdcpp)
export(heldoutLikelihood)
export(exclusivitySTS)
export(semanticCoherenceSTS)
export(printRegnTables)
import(Rcpp)
import(doParallel)
import(foreach)
import(parallel)
import(stm)
import(mvtnorm)
import(Matrix)
importFrom(RcppArmadillo, RcppArmadillo.package.skeleton)
importFrom("stats", "glm", "optim", "quantile", "rnorm")
useDynLib(sts, .registration = TRUE)
